<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>{{ pageTitle }}</title>
  </head>
  <body>
  	{{!-- dodavanje headera (header.hbs) iz views/partials --}}
    {{> header }}
  	<p>Project page text here</p>
  	{{!-- dodavanje footera (footer.hbs) iz views/partials --}}
    {{> footer  }}
  </body>
</html>




